body{
font-family: 'Poppins', sans-serif;
margin: 0;
}
#headline {
    display: flex;
    background: rgb(128, 192, 153);
}
#headline a{
    color: floralwhite;
    font-size: 20px;
    background: orangered;
    display: flex;
    margin-left: 9%;
    padding: 30px 60px;
    text-decoration: none;
    border-radius: 10px;
    border-bottom:rgb(37, 13, 13) solid 5px;
    border-left:rgb(37, 13, 13) solid;
}
#firstbanner{
    display: flex;

    background-image: url(bg.jpeg);
background-repeat: no-repeat;
background-size: cover;
padding-top: 20px;
}
.halfsection{
width: 50%;
padding: 8%;
}

.halfsection img{
    width: 120%;
    margin-right: 70px;
}
.foodorder{
 text-decoration: none;
 background-color:limegreen;
 padding: 10px 40px;
 color: snow;
 border-radius: 20px;
}
#secondbanner{

    background-image: url(greeb.jpeg);
    background-size: cover;
    display: flex;
}

.last{
display: flex;
width: 30%;
}
.last-banner{
    margin-left: 10% ;
    margin-right: 15%;
    margin-bottom: 30%;
    padding-left: 15px;
    background-color: blanchedalmond;
    box-shadow: 10px 10px 30px grey;
    border-radius: 10px;
}
.last img{
    width: 300px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    height: 300px;
    border: solid black;
    border-radius: 10px;


}
.image{
    border: indigo solid 1px;
    border-radius: 10px;
    width: 300px;

}
#recipi-banner {
    background-image: url(greeb.jpeg);
    background-size: cover;
}
#recipi-banner h1{
margin-top: 0px;
}
footer{
    background-color: darkslategray;
    text-align: center;

}
footer h2{
    margin-top: 0px;
}
h1{
    font-size: 50px;
    text-align: center;
}
#thereare{
    text-align: center;
}